.checkbox-delete {
  position: relative;
  min-width: 35px;
}

.checkbox-delete label {
  background-color: #fff;
  border: 1px solid #ccc;
  /*border-radius: 50%;*/
  cursor: pointer;
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  width: 28px;
}

.checkbox-delete input[type="checkbox"] {
  visibility: hidden;
}

.checkbox-delete input[type="checkbox"]:checked + label {
  background-color: #8d8d8d;
}

.checkbox-delete input[type="checkbox"]:checked + label:after, .checkbox-delete input[type="checkbox"]:checked + label:before {
  opacity: 1;
}

.checkbox-delete label:after, .checkbox-delete label:before {
  position: absolute;
  left: 12px;
  content: ' ';
  height: 27px;
  width: 2px;
  background-color: #dc3545;
  opacity: 0;
}

.checkbox-delete label:before {
  transform: rotate(45deg);
}

.checkbox-delete label:after {
  transform: rotate(-45deg);
}

